In [1]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [20]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [25]:
342.0/891.0 * 100.0

38.38383838383838

In [27]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [28]:
216.0/891.0 * 100

24.242424242424242

In [30]:
data['Age'].mean()

29.69911764705882

In [31]:
data['Age'].median()

28.0

In [47]:
data.corr(method='pearson')

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [46]:
import re

def name_ext(fullname):
    name_parts = fullname.split(',')
    name = name_parts[1].strip()
    name = re.sub(r"(Mrs\.|Miss\.|Mr\.|Mrs\.){1}", '', name)
    return name.strip().lower()

data[(data['Sex'] == 'female')]['Name'].map(name_ext).value_counts()

mary                                                    6
bertha                                                  4
anna                                                    3
anna sofia                                              3
elizabeth                                               2
katherine "katie"                                       2
hanora "nora"                                           2
marija                                                  2
kate                                                    2
alice                                                   2
ellen "nellie"                                          2
mabel helen                                             1
leopold (mathilde francoise pede)                       1
anne                                                    1
(elizabeth ramell)                                      1
(marion ogden)                                          1
edward dale (charlotte lamson)                          1
frederic oakley (margaretta corning stone)              1
johan (johanna persdotter larsson)                      1
phyllis may                                             1
elizabeth (eliza needs)                                 1
william baird (alice munger)                            1
saiide                                                  1
stella anna                                             1
emily borie                                             1
virginia ethel                                          1
thomas henry (mary e finck)                             1
lady. (lucille christiana sutherland) ("mrs morgan")    1
dr. alice (farnham)                                     1
asuncion                                                1
                                                       ..
amelie                                                  1
george dennick (mary hitchcock)                         1
mme. leontine pauline                                   1
manca                                                   1
solomon (latifa qurban)                                 1
telma matilda                                           1
elizabeth mussey                                        1
constance gladys                                        1
(ada e hall)                                            1
wilhelm (elna matilda persson)                          1
katie                                                   1
susan parker "suzette"                                  1
walter bertram (martha eustis)                          1
augusta charlotta                                       1
margaret                                                1
edwina celia "winnie"                                   1
mary agatha                                             1
edward scott (elisabeth walton mcmillan)                1
robina maggie "ruby"                                    1
mathilde                                                1
william (anna sylfven)                                  1
nicholas (adele achem)                                  1
samuel l (edwiga grabowska)                             1
frederick r (marion)                                    1
sam (leah rosen)                                        1
helen mary "ellie"                                      1
richard leonard (sallie monypeny)                       1
augusta maria                                           1
laina                                                   1
maria ("mary")                                          1
Name: Name, dtype: int64